out
dist
node_modules
.vscode-test/
*.vsix
/.clj-kondo/
/.lsp/
/prompts/prompts.jar
/prompts/codescope/.direnv/
/prompts/codescope/result
/prompts/functions/write_file/.direnv/
/prompts/functions/write_file/result
/prompts/functions/write_file/blah.txt
